body {
  font-family: sans-serif;
  text-align: center;
  background-color: #111;
  color: white;
}

#game {
  margin-top: 50px;
}

input, button {
  padding: 10px;
  font-size: 18px;
  margin: 10px;
}

#message {
  font-size: 24px;
  margin-top: 20px;
}
