 body {
      position: relative;
      text-align: center; 
      font-family: sans-serif;
      background-image: url('TCU_Rogo.jpg');
      background-size: 100px 100px;
      background-position: center;
      background-repeat: repeat;
      overflow-x: hidden;
    }
    body::before{
       content: "";
       position: absolute;
       top: 0; left: 0;
       width: 200%;  height: 200%;
       background-color: rgba(0, 0, 0, 0.3); 
       z-index: -1;
    }

* {
  outline: 1px solid red; /* 要素の枠を全部表示してくれる */
}




    h1 { em: 2em; }
    .button {
      display: block;
      width: 500px;
      margin: 20px auto;
      padding: 35px;
      font-size: 30px;
      background: #76e6e7;
      color: black;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
    }
    .button:hover {
      background: #666;
    }
    hr{
      border:none;
      height:7px;
      background-color:#000000;
      width:80%;
      margin: 30px auto;
      border-radius: 10px;
    }
